
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@using E_Project.Areas.Admin.Utils
@model E_Project.Models.IndexModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">PLAN</h1>
                    </div>
                    <div class="col-lg-6 text-lg-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">PLAN</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <!-- CATEGORIES SECTION-->
        <section class="pt-5">
            <header class="text-center">
                <p class="small text-muted small text-uppercase mb-1">Carefully created connections</p>
                <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
            </header>
            <div class="row">
                @foreach (var item in Model.Plans)
                {
                    <div class="col-md-4 mb-4 mb-md-0"><a class="category-item" href="@Url.Action("Index","Detail", new { id = @item.N_ID, type = "PLAN"})"><img class="img-fluid" src="~/Assets/Home/img/index_plan.jpg" alt=""><strong class="category-item-title" style="margin-top:30%">@item.S_NAME</strong></a></div>
                }
            </div>
        </section>
     
        
    </div>

</body>
</html>

